.download-as-cv {
  /* width: 883.7px;
  height: 1242.52px; */
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: black;
  border: none;
  border-radius: 0;
  padding: 10px;
  color: white;
  font-weight: bold;
}