.contact-form {
  margin-top: 20px;
  text-align: center;
}

.contact-form > div > input,textarea {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  max-width: 400px;
}
.contact-form > div > textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  resize: none;
  max-width: 400px;
}

.contact-form > div > button {
  width: 100%;
  background: black;
  color: white;
  border: none;
  font-weight: bold;
  padding: 15px 0;
  cursor: pointer;
  max-width: 400px;
}

